
@media (max-width:850px) {
  .icons {
    display: none;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:600px) {
  .content-box-1, .content-box-3 {
    flex-direction: column;

    .item-2 {
      padding: 40%;
    }
  }
  .content-box-2{
    flex-direction: column-reverse;
    .item-2 {
      padding: 40%;
    }
  }
  .grid {
      grid-template-columns: 1fr;
  }
  .forms {
    .item-1, .item-2, .item-3,
    .item-4, .item-5 {
      display: block;
    }
  }
}
